@font-face {
    font-family: "Lato Regular";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/Lato-Regular.ttf) format('truetype');       
  }

@font-face {
    font-family: "Lato Bold";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/Lato-Bold.ttf) format('truetype');       
  }

@font-face {
    font-family: "Lato Black";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/Lato-Black.ttf) format('truetype');       
  }

@font-face {
    font-family: "Lato Light";
    font-style: normal;
    font-weight: normal;
    src: url(./assets/Lato-Light.ttf) format('truetype');       
  }


.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.portfolio {
    background: #2d303a;
    height: 864px;
    border-bottom: 6px solid #323746;
   
}

.port_block {
    height: 729px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 68px 0 0 40px;
}

.heading {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    text-align: left;
    text-transform: capitalize;
    margin-top: 1px;
}

.port_block  p {
    width: 940px;
    /* height: 57px; */
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato Light";
    text-align: left;
    margin-top: 17px;
}

.navbar_2 ul li .a_selected {
    color: #dedede;
    border: 1px solid #dedede;
    
}

.navbar_2 ul li a{
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato Regular";
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    
    float: left;
    padding: 0 6px 0 6px;
    margin-right: 10px;

    border-radius: 5px;
    border: 1px solid #666d89;
}

.navbar_2 ul li a:hover {
    color: #dedede;
    border: 1px solid #dedede;
}



.navbar_2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar_2 {
    width: 300px;
    margin-bottom: 9px;
}


.photo {
    width: 940px;
    max-height: 601px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
}


.photo div {
    width: 220px;
    height: 187px;
    background-color: #464b5e;
    margin-bottom: 20px;
}

.about_us {
    height: 734px;
    background: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about_block {
    width: 940px;
    height: 594px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 67px 0 0 40px;
}

.about_block > p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato Light";
    text-align: justify;
    padding-bottom: 21px;
}

.team {
    height: 443px;
    display: flex;
    justify-content: space-between;
}

.team_photo {
    width: 300px;
    height: 443px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desmond {
    margin-right: 1px;
}

.team_photo h1 {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    text-transform: capitalize;
    text-align: left;
    margin-top: 8px;
    white-space: nowrap;
    overflow: hidden;
}

.team_photo p {
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato Regular";
    text-align: justify;
    padding-bottom: 10px;
}

.social_media {
    width: 153px;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 3px;
    left: 1px;
}

.social_media div:nth-child(1) img:hover {
    content: url(./assets/images/facebook\ hover.png);
    cursor: pointer;
}

.social_media div:nth-child(2) img:hover {
    content: url(./assets/images/google\ hover.png);
    cursor: pointer;
}

.social_media div:nth-child(3) img:hover {
    content: url(./assets/images/twitter\ hover.png);
    cursor: pointer;
}

.social_media div:nth-child(4) img:hover {
    content: url(./assets/images/linkedin\ hover.png);
    cursor: pointer;
}